* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  position: absolute;
  top: 0;
  z-index: 1;
  /* background-color: antiquewhite; */
  width: 100vw;
}

.nav .logo a {
  font-size: 2rem;
  color: #f2f2f3;
  font-family: "roboto", sans-serif;
}

.search-box {
  display: flex;
  align-items: center;
  width: 35%;
  height: 10%;
  background-color: #f2f2f3;
  padding-left: 20px;
  padding-right: 0px;
  border-radius: 50px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background-color: #f2f2f3;
  font-size: 1rem;
  padding-left: .3em;
  padding-right: 1em;
  height: 40px;
}

.search-btn {
  padding: .5em 1em .5em 1em;
  font-size: 1.2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  outline: none;
  background: linear-gradient(336deg, rgb(220, 43, 57) 12%, rgb(175, 3, 3) 95%);
  color: #f2f2f3;
  cursor: pointer;
  font-family: 'roboto', sans-serif;
  border: 1px solid rgb(255, 72, 72);
  border-left: none;
}

.nav .action {
  display: flex;
  column-gap: 2em;
}

.action-btn {
  padding: .5em 1.5em;
  font-size: 1.2rem;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'roboto', sans-serif;
  background: linear-gradient(336deg, rgb(220, 43, 57) 12%, rgb(175, 3, 3) 95%);
  color: #f2f2f3;
  border: 1px solid rgb(255, 72, 72);
}

.action-btn a {
  color: white;
}

.product-category-dropdown {
  position: relative;
}

.product-category-dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + .25rem);
  background-color: #f2f2f3;
  padding: 1.5em 1.8em;
  border-radius: 15px;
  font-family: 'roboto', sans-serif;
  display: flex;
  column-gap: 4em;
  width: 30vw;
  flex-wrap: wrap;
  row-gap: 1.5em;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.product-category.action-btn:hover,
.search-btn:hover {
  background: rgb(175, 3, 3);
}

.product-category-dropdown.active>.product-category {
  background: rgb(178, 37, 37);
}

.dropdown-menu h4 {
  margin-bottom: .5em;
  font-size: 1.1rem;
}

.dropdown-menu h4 a:hover {
  color: rgb(178, 37, 37);
}

.dropdown-menu .category-list a {
  color: black;
}

.dropdown-menu .category-list li {
  width: 100%;
  padding: .3em 0 .3em 0;
}

.dropdown-menu .category-list li:last-child {
  padding-bottom: 0;
}

.dropdown-menu .category-list li a {
  color: rgb(52, 52, 52);
}

.dropdown-menu .category-list li a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.product-category-dropdown.active>.product-category+.dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}


/* Product Carousel */

/* .carousel {
  margin-left: 15%;
  margin-right: 15%;
} */

ul.slides {
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  /* z-index: -1; */
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}


.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
  z-index: 12;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked+.slide-container .nav label {
  display: block;
}

.layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 3%, rgba(51, 51, 51, 1) 31%, rgba(255, 255, 255, 1) 100%);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.main-product {
  position: absolute;
  z-index: 10;
  bottom: 20%;
  left: 5%;
  font-size: 2rem;
  font-family: 'roboto', sans-serif;
  color: #f2f2f3;
  display: flex;
  flex-direction: column;
  row-gap: .5em;
}

.main-product-desc {
  font-size: 1.3rem;
  width: 40%;
  letter-spacing: 1px;
  color: #cacaca;
}

.registration .dropdown {
  position: relative;
}

.registration .dropdown-list {
  position: absolute;
  top: calc(100% + .25rem);
  right: 0;
  text-align: left;
  background-color: #f2f2f3;
  min-width: 15vw;
  border-radius: 15px;
}

.dropdown-opacity-0 {
  opacity: 0;
  pointer-events: none;
}

.dropdown-hover {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.registration .dropdown-list .signup {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  padding: 1.5em;
}

.registration .dropdown-list .bold {
  font-weight: 600;
  color: black;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
}

.registration .dropdown-list .list-link-special a:hover {
  text-decoration: underline;
}

.registration .normal-links a {
  font-family: 'roboto', sans-serif;
  color: black;
}

.dropdown-list .normal-links {
  display: flex;
  flex-direction: column;
}

.dropdown-list .normal-links .list-sub-link{
  padding: 1.2em 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0,.1);
}

.dropdown-list .normal-links .list-sub-link:hover{
  background-color: rgba(0, 0, 0,.1);
}

.dropdown-list .normal-links .list-sub-link:last-child{
  border: none;
  border-radius: 0 0 15px 15px;
}

.dropdown-list .normal-links .list-sub-link:first-child{
  border-radius: 15px 15px 0 0 ;
}