* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "roboto", sans-serif;
}

:root {
  --primary-color: #0818A8;
  --hover-color: #051070;
  --secondary-color: #f2f2f3;
  --light-color: white;
  --accent-color: #7f7c4f;
  --dark-color: #171717;
  --light-para-color: #8a8a8a;
  --sm-border-radius: 10px;
  --md-border-radius: 15px;
  --lg-border-radius: 30px;
  --lt-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --dk-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 4em;
  position: sticky;
  background-color: var(--light-color);
  box-shadow: var(--lt-box-shadow);
  z-index: 100;
}

.nav .logo a {
  font-size: 2rem;
  color: var(--dark-color);
}

.nav .logo span{
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 4px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 35%;
  height: 10%;
  background-color: var(--light-color);
  padding-left: 20px;
  padding-right: 0px;
  border-radius: 50px;
  border: 1px solid var(--primary-color);
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background-color: var(--light-color);
  font-size: 1rem;
  padding-left: .3em;
  padding-right: 1em;
  height: 40px;
}

.search-box input::placeholder {
  font-size: .9rem;
  opacity: .8;
}


.search-btn {
  border-radius: 0 var(--lg-border-radius) var(--lg-border-radius) 0;
}

.icon-btn{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.icon-btn i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.login-btn i{
  font-size: 1.45rem;
}

.nav .action {
  display: flex;
  column-gap: 2.4em;
  align-items: center;
}

.sub-nav{
  display: flex;
  justify-content: center;
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: .8em;
  border-bottom: 1px solid rgba(214, 214, 214,.5);
}

.sub-nav .products{
  display: flex;
  align-items: center;
  column-gap: 15em;
}

.sub-nav .products li{
  display: flex;
  align-items: center;
  column-gap: .5em;
  cursor: pointer;
}

.sub-nav .products li i{
  font-size: .8rem;
}

.product-category-dropdown {
  position: relative;
}

.product-category-dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + .25rem);
  background-color: #f2f2f3;
  padding: 1.5em 1.8em;
  border-radius: 15px;
  font-family: 'roboto', sans-serif;
  display: flex;
  column-gap: 4em;
  width: 30vw;
  flex-wrap: wrap;
  row-gap: 1.5em;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.product-category-dropdown.active>.product-category {
  background: rgb(178, 37, 37);
}

.dropdown-menu h4 {
  margin-bottom: .5em;
  font-size: 1.1rem;
}

.dropdown-menu h4 a:hover {
  color: rgb(178, 37, 37);
}

.dropdown-menu .category-list a {
  color: black;
}

.dropdown-menu .category-list li {
  width: 100%;
  padding: .3em 0 .3em 0;
}

.dropdown-menu .category-list li:last-child {
  padding-bottom: 0;
}

.dropdown-menu .category-list li a {
  color: rgb(52, 52, 52);
}

.dropdown-menu .category-list li a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.product-category-dropdown.active>.product-category+.dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.registration .dropdown {
  position: relative;
}

.registration .dropdown-list {
  position: absolute;
  top: calc(100% + .25rem);
  right: 0;
  text-align: left;
  background-color: #f2f2f3;
  min-width: 15vw;
  border-radius: 15px;
}

.dropdown-opacity-0 {
  opacity: 0;
  pointer-events: none;
}

.dropdown-hover {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.registration .dropdown-list .signup {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  padding: 1.5em;
}

.registration .dropdown-list .bold {
  font-weight: 600;
  color: black;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
}

.registration .dropdown-list .list-link-special a:hover {
  text-decoration: underline;
}

.registration .normal-links a {
  font-family: 'roboto', sans-serif;
  color: black;
}

.dropdown-list .normal-links {
  display: flex;
  flex-direction: column;
}

.dropdown-list .normal-links .list-sub-link {
  padding: 1.2em 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.dropdown-list .normal-links .list-sub-link:hover {
  background-color: rgba(0, 0, 0, .1);
}

.dropdown-list .normal-links .list-sub-link:last-child {
  border: none;
  border-radius: 0 0 15px 15px;
}

.dropdown-list .normal-links .list-sub-link:first-child {
  border-radius: 15px 15px 0 0;
}




/* Utitlity CSS */
.plr-2{
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.primary-btn, .secondary-btn{
  padding: .5em 1.2em .5em 1.2em;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  border-left: none;
  transition: background-color .15s;
}

.secondary-btn{
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: var(--lg-border-radius);
  color: var(--primary-color);
  padding: initial 1.5em;
}

.primary-btn:hover{
  background-color: var(--hover-color);
}