* {
    font-family: 'roboto', sans-serif;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.delivery-add {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 2em;
}

.header {
    background: linear-gradient(336deg, rgb(220, 43, 57) 12%, rgb(175, 3, 3) 95%);
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    column-gap: 1.5em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.header h3 {
    font-weight: 450;
    text-transform: uppercase;
}

.header .serial {
    background-color: white;
    color: black;
    padding: .3em .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.body form {
    display: flex;
    flex-direction: column;
    padding: 2em 4.5em;
    row-gap: 1em;
}

.input-section {
    display: flex;
    column-gap: 2em;
}

.input {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    padding-top: 1.2em;
    border-radius: 10px;
}

.input input {
    border-radius: 10px;
    padding: 0 1em;
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
    font-size: 1rem;
}

.input label {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 1em;
    font-size: .7rem;
    color: rgba(0, 0, 0, .7);
}

.input textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    padding: 0.3em .8em;
    font-size: 1rem;
    border-radius: 10px;
}

#state {
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    padding-left: .6em;
    border: none;
    outline: none;
}

#pincode::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.save-btn {
    display: flex;
    column-gap: 1.5em;
    margin-top: 1em;
}

.save,
.cancel {
    padding: 1em 2em;
    outline: none;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.save {
    background: linear-gradient(336deg, rgb(220, 43, 57) 12%, rgb(175, 3, 3) 95%);
    color: white;
    border-radius: 30px;
}

.cancel {
    background-color: transparent;
    color: rgb(220, 43, 57);
}


.m-b{
    margin-bottom: 2em;
    border-radius: 15px;
    background: transparent;
    background-color: white;
    color: rgb(115, 115, 115);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}

.header .bg-color{
    background-color: rgb(220, 43, 57);
    color: white;
}