.main-product-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em 2em 2em 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    height: 20%;
}

.product-container {
    display: flex;
    background-color: white;
    padding: 2em 3em;
    column-gap: 8em;
    border-bottom: 1px solid rgba(204, 204, 204,.7);
    max-height: 30vh;
    color: black;
}

.main-product-container{
    border-radius: 10px;
}

.product-container:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-container:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: none;
}

.product-container .product-image{
    width: 15%;
}

.product-container .product-image img {
    max-width: 100%;
    max-height: 100%;
}

.product-description {
    font-family: 'roboto', sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.product-description h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.main-page-container {
    display: flex;
    width: 98.93vw;
}

.sidebar {
    min-height: 100vh;
    background-color: white;
    margin: 2em;
    padding: 0 1.5em;
    font-family: 'roboto', sans-serif;
    text-align: left;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sidebar h3 {
    padding: 1em 0;
    border-bottom: 1px solid rgba(157, 157, 157, .3);
    font-weight: 500;
}

.sidebar .super-product-container h4 {
    font-weight: 400;
    margin: 1em 0 1.7em 0;
    cursor: pointer;
}

.sidebar .super-product-container h4 i {
    padding-right: 1em;
    color: black;
    transition: all .3s ease-in-out;
}

.sidebar .super-product-container ul li a {
    color: rgb(92, 92, 92);
    font-size: .9rem;
    padding-bottom: 1em;
}

.sidebar .super-product-container ul li:hover {
    text-decoration: underline;
}

.sidebar .super-product-container ul li a:hover {
    color: rgb(0, 0, 0);
}

.sidebar .super-product-container ul {
    padding: 1em 0 1em 1.6em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.sidebar .super-product-container ul li {
    padding-bottom: 1em;
    cursor: pointer;
}

.sidebar .super-product-container ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar .super-product-container ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 0;
}

.super-product-container.active>h4+ul {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
    display: block;
}

.rotate-icon {
    transform: rotateX(180deg);
}