{% extends 'shop/basic.html' %}
{% block title %} Your Order | CartX {% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/checkout.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="checkout-container">
        <div class="active-container">
            <!-- <div class="header">
                <span class="serial">1</span>
                <h3>Delivery Address</h3>
            </div> -->

            {% csrf_token %}
            <div class="delivery-add">
            </div>

            <div class="active-container-body"></div>
        </div>

        <!-- Add New Address -->
        {% if all_address %}
        <div class="new-address">
            <div class="new-add-btn" onclick="replaceAddressForm()">
                <i class="fa-solid fa-plus"></i>
                <p>Add a new address</p>
            </div>
        </div>
        {% endif %}

        <div class="order-content" id="order-content">

            {% for value in cart_prod_data.items %}
            <div class="order-summary">
                <img src="/media/{{value.1.3}}" alt="Product Image">
                <div class="product-detail">
                    <h3 class="title">{{value.1.0}}</h3>
                    <h4 class="price"><span id="overline">&#8377;{{value.1.1}}</span>&#8377;{{value.1.2}}</h4>
                    <div class="quantity" id="item-{{value.0}}">0 item</div>
                </div>
            </div>
            {% endfor %}

            <div class="continue">
                <p class="send-email">Order confirmation email will be sent to <span>{{request.user}}</span></p>
                <button id="continue" onclick="orderContinue()">Continue</button>
            </div>
        </div>

        <div class="div">
            
        </div>

        <div class="header m-b h" id="raw-pay-opt">
            <span class="serial bg-color">3</span>
            <h3>Payment options</h3>
        </div>

    </div>

    <!-- Price Container -->
    <div class="cart-price-container">
        <h4 class="b-btm">
            Price Details
        </h4>

        <ul class="pricing-breakdowns">

            <li><span id="item-count">Price</span>
                <span class="price" id="og-price">0</span>
            </li>
            <li>Discount
                <span class="discount-price" id="discount-price">0</span>
            </li>
            <li>Delivery Charges
                <span>Free</span>
            </li>

        </ul>

        <h4 class="final-amount">
            Total Amount <span class="total-amount" id="total-amount">0</span>
        </h4>
    </div>

</div>



<script src="{% static '/shop/js/checkout.js' %}"></script>
{% endblock %}