{% extends 'shop/basic.html' %}
{% block title %} Your Order | CartX {% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/checkout.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}

<div class="checkout-container">

    <div class="header">
        <span class="serial">1</span>
        <h3>Delivery Address</h3>
    </div>

    <div class="delivery-add">
    </div>
    
    <!-- Single Address is Fetched From DB -->
    <div class="body add-flex current-container">
    </div>

    <!-- Remaining Address is Fetched From DB -->
    {% for det in add_data %}
    {% if det in single_address.items %}
    {% else %}
    <div class="body add-flex">
        <input type="radio" name="select-address" id="select-address">
        <div class="personal-info-container">
            <div>
                <p class="name">{{det.0}}</p>
                <p class="mobile">{{det.2}}</p>
            </div>
            <div class="address-container">
                <p class="address">{{det.1}} - <b>{{det.3}}</b></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% if single_address %}
    <div class="new-address">
        <i class="fa-solid fa-plus"></i>
        <p>Add a new address</p>
    </div>
    {% endif %}

    

    <div class="header m-b">
        <span class="serial bg-color">2</span>
        <h3>Order summary</h3>
    </div>
    <div class="header m-b">
        <span class="serial bg-color">3</span>
        <h3>Payment options</h3>
    </div>

    <!-- <div class="header m-b">
        <span class="serial bg-color">1</span>
        <h3>Delivery Address</h3>
    </div> -->







    <script src="{% static '/shop/js/checkout.js' %}"></script>
    {% endblock %}